button.navbar-toggle{
    background:none !important;
    border:none !important;
    color:none !important;
	
}
.navbar-inverse .navbar-toggle .icon-bar{
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25); 
}


 
a.contactlink:hover span {
    display:none;
}
a.contactlink:hover:before {
    color:red;
    font-size:20px;
	content:"hannibal.andersen{a}gmail.com";
}